body {
    background-color: #eff0f1;
}

body, input, select {
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    color: #1B2432;
    font-size: 14px;
}

select {
    background-color: white;
    width: 200px;
    border: 1px solid #CDCFD2;
}

input[type=text] {
    width: 176px; /* 200 - 2*10 (padding) - 2*2 (border) */
    padding: 2px 10px;
    border: 1px solid #CDCFD2;
}

select:hover,
select:active,
input[type=text]:hover,
input[type=text]:focus {
    border-color: #A1A4AA;
}

.button.primary {
    background: #1aafd0;
    border-color: #1aafd0;
    padding: 0 15px;
    height: 40px;
    color: white;
    fill: white;
}

.button.primary:hover {
    background: #02ceff;
    border-color: #02ceff;
    box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
    -moz-box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
    -webkit-box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
    -moz-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
    transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    font-size: 14px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    min-width: 60px;
}

.icon {
    width: 16px;
    height: 16px;
    fill: #cdcfd2;
}

.closeIcon {
    font-size: 18px;
}

.Main {
    width: 840px;
    margin: auto;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    margin-top: 20px;
    box-shadow: 0 1px 3px rbga(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.Main-header {
    border-bottom: 1px solid #e1e2e4;
    padding: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.OAuthBoundary--authorizing {
    padding: 20px;
    text-align: center;
}

.OAuthBoundary-authenticateButton {
    padding: 20px;
    text-align: center;
}

.Asana {
    display: flex;
    flex-direction: column;
    align-elements: center
}

.Asana-inputs {
    padding: 15px;
}

.Asana-matcher {
    border-top: 1px solid #eee;
    padding: 15px;
}

.Asana-arrow {
    font-size: 28px;
    text-align: center;
    align-self: center;
}

.AsanaForm h3 {
    margin-bottom: 10px;
}

.AsanaForm-workspaces, .AsanaForm-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AsanaForm-projects {
    margin-top: 5px;
}

.FieldMatcher-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 15px;
}

.FieldMatcher-button {
    padding: 10px 0;
}

.FieldOptions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.FieldRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.FieldRow-csvHeader {
    font-weight: bold;
}

.FieldRow-csvValues {
    font-size: 13px;
    color: #676d76;
}

.FieldRow-selector {
    width: 350px;
}

.TargetSelector-unselect {
    display: flex;
}

.TargetSelector-unselect > div:first-child {
    flex-grow: 1;
}

.TargetSelector-unselectButton {
    margin-left: 10px;
}

.TargetSelector-configField {
    display: flex;
    justify-content: space-between;
}

.Typeahead {
    display: inline;
    position: relative;
}

.Typeahead-options {
    position: absolute;
    left: 0;
    top: 24px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #eee;
    z-index: 200;
}

.Typeahead-options--empty {
    display: none;
}

.Typeahead-option {
    padding: 5px 10px;
}

.Typeahead-option:hover {
    background-color: #eee;
}

.Popup-positioner {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Popup-background {
    width: 100%;
    height: 100%;
    background: #676d76;
    opacity: 0.7;
}

.Popup-container {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.Popup-dialog {
    border: 1px solid #898E95;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.Popup .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.Popup-title {
    padding: 10px 30px;
    border-bottom: 1px solid #E1E2E4;
    font-size: 16px;
    font-weight: bold;
}

.TargetConfig-recordViews {
    padding: 15px;
}

.TargetConfig-recordView {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.TargetConfig-actions {
    padding: 5px 30px 15px 30px;
    text-align: right;
}

.UserConfig--selected {
    display: flex;
    align-items: center;
    background: #f8f8f9;
    border: 1px solid #e1e2e4;
    color: #676d76;
    border-radius: 15px;
    padding: 5px;
}

.UserConfig-clearButton {
    margin-top: 2px;
    margin-left: 5px;
}

.UserInfo {
    display: flex;
    align-items: center;
}

.UserInfo .avatar {
    margin-right: 5px;
}

.avatar {
    border-radius: 50%;
}
