body {
    background-color: #eff0f1;
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    color: #1B2432;
    font-size: 14px;
}

.icon {
    width: 16px;
    height: 16px;
    fill: #cdcfd2;
}

.closeIcon {
    font-size: 18px;
}

.Main {
    width: 840px;
    margin: auto;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    margin-top: 20px;
    box-shadow: 0 1px 3px rbga(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.Main-header {
    border-bottom: 1px solid #e1e2e4;
    padding: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.Asana {
    display: flex;
    flex-direction: column;
    align-elements: center
}

.Asana-inputs {
    padding: 15px;
}

.Asana-matcher {
    border-top: 1px solid #eee;
    padding: 15px;
}

.Asana-arrow {
    font-size: 28px;
    text-align: center;
}

.AsanaForm-workspaces, .AsanaForm-projects {
    display: flex;
    justify-content: space-between;
}

.AsanaForm-projects {
    margin-top: 5px;
}

.FieldMatcher-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 15px;
}

.FieldMatcher-button {
    padding: 10px 0;
}

.FieldOptions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.FieldRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.FieldRow-csvHeader {
    font-weight: bold;
}

.FieldRow-csvValues {
    font-size: 13px;
    color: #676d76;
}

.FieldRow-selector {
    width: 350px;
}

.TargetSelector-unselect {
    display: flex;
}

.TargetSelector-unselect > div:first-child {
    flex-grow: 1;
}

.TargetSelector-unselectButton {
    margin-left: 10px;
}

.TargetSelector-configField {
    display: flex;
    justify-content: space-between;
}

.Typeahead {
    display: inline;
    position: relative;
}

.Typeahead-options {
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #eee;
    z-index: 200;
}

.Typeahead-options--empty {
    display: none;
}

.Typeahead-option {
    padding: 5px 10px;
}

.Typeahead-option:hover {
    background-color: #eee;
}

.Popup-positioner {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Popup-background {
    width: 100%;
    height: 100%;
    background: #676d76;
    opacity: 0.7;
}

.Popup-container {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.Popup-dialog {
    border: 1px solid #898E95;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.Popup .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.Popup-title {
    padding: 10px 30px;
    border-bottom: 1px solid #E1E2E4;
    font-size: 16px;
    font-weight: bold;
}

.TargetConfig-recordViews {
    padding: 15px;
}

.TargetConfig-recordView {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

