body {
    background-color: #eff0f1;
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    color: #1B2432;
    font-size: 14px;
}

.Main {
    width: 840px;
    margin: auto;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    margin-top: 20px;
    box-shadow: 0 1px 3px rbga(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.Main-header {
    border-bottom: 1px solid #e1e2e4;
    padding: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

.Asana {
    display: flex;
    flex-direction: column;
    align-elements: center
}

.Asana-inputs {
    display: flex;
    justify-content: space-between;
}

.Asana-form, .Asana-csv {
    width: 300px;
    padding: 15px;
}

.Asana-arrow {
    align-self: center;
    font-size: 28px;
}

.AsanaForm-workspaces, .AsanaForm-projects {
    display: flex;
    justify-content: space-between;
}

.AsanaForm-projects {
    margin-top: 5px;
}

.FieldMatcher {
    display: flex;
    flex-direction: column;
}

.FieldMatcher-fields {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
    margin-top: 15px;
}

.FieldMatcher-csv, .FieldMatcher-targets {
    width: 400px;
    padding: 15px;
}

.FieldMatcher-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.FieldMatcher-button {
    padding: 10px 0;
}

.FieldOptions {
    display: flex;
    flex-direction: column;
}

.Typeahead {
    display: inline;
    position: relative;
}

.Typeahead-options {
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #eee;
}

.Typeahead-options--empty {
    display: none;
}

.Typeahead-option {
    padding: 5px 10px;
}

.Typeahead-option:hover {
    background-color: #eee;
}
