.Main {
    width: 840px;
    margin: auto;
}

.Asana {
    display: flex;
    flex-direction: column;
    align-elements: center
}

.Asana-inputs {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
}

.Asana-form, .Asana-csv {
    width: 400px;
    padding: 15px;
}

.AsanaForm-workspaces, .AsanaForm-projects {
    display: flex;
    justify-content: space-between;
}

.FieldMatcher {
    display: flex;
    flex-direction: column;
}

.FieldMatcher-fields {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
    margin-top: 15px;
}

.FieldMatcher-csv, .FieldMatcher-targets {
    width: 400px;
    padding: 15px;
}

.FieldMatcher-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.FieldMatcher-button {
    padding: 10px 0;
}

.FieldOptions {
    display: flex;
    flex-direction: column;
}

.Typeahead {
    display: inline;
    position: relative;
}

.Typeahead-options {
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #eee;
}

.Typeahead-options--empty {
    display: none;
}

.Typeahead-option {
    padding: 5px 10px;
}

.Typeahead-option:hover {
    background-color: #eee;
}
